<AuthorizeView>
    <Authorized>
        <NavLink class="btn btn-primary" href="User">Hello, @context.User.Identity.Name</NavLink>
        <a class="btn btn-danger" href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <NavLink class="btn btn-primary" href="Register">Register</NavLink>
        <NavLink class="btn btn-primary" href="Login">Log In</NavLink>
    </NotAuthorized>
</AuthorizeView>