@page "/"

@inject NavigationManager navigation

<main class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <form @onsubmit="Search" class="mx-auto w-50">
            <input class="form-control @(Invalid ? "is-invalid" : "")" type="search" @bind="SearchText" placeholder="Address 10, Region, City" required>
            <div class="invalid-feedback @(Invalid ? "badge badge-danger" : "")" style="font-size: medium">
                Please add your address like the example: Χαρίλαου Τρικούπη 32, Πειραιάς
            </div>
            @*<AuthorizeView>
                    <div class="badge badge-info">TODO Stored Addresses</div>
                </AuthorizeView>*@
        </form>
    </div>
</main>

@code {
    private string SearchText { get; set; }

    private bool Invalid { get; set; }

    private string InvalidCss { get; set; }

    private string InvalidText { get; set; }

    private void Search()
    {
        var query = SearchText.Split(',');

        if (query.Length < 2)
        {
            Invalid = true;
            return;
        }

        var address = query[0].Trim();
        var region = query[1].Trim();
        var city = query.ElementAtOrDefault(2)?.Trim() ?? "Αθήνα";

        navigation.NavigateTo($"stores?isopen=true&address={address}&region={region}&city={city}");
    }
}