@page "/test"

<main class="container">
    <AuthorizeView>
        <Authorized>
            <h1>You can see it now!</h1>
        </Authorized>
        <NotAuthorized>
            <h1>You cant se this!</h1>
        </NotAuthorized>
    </AuthorizeView>
</main>