<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <main class="container">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="badge badge-danger display-4">
                            Sorry, there's nothing at this address.
                        </div>
                    </div>
                </main>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
