@import url(spinner.css);

html, body, app {
    height: 100vh;
}

body {
    background-image: url(../images/pizza-2068272_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Grid Layout*/
app {
    display: grid;
    grid-template-areas: "nav" "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

nav {
    grid-area: nav;
    /*    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
}

main {
    grid-area: main;
    overflow-y: visible;
    /*    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
}

footer {
    /*    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
}

.form-container {
    width: 40%;
}

* {
    box-sizing: border-box;
}