<div class="card bg-white">
    <div class="card-header">
        Hello!
    </div>
    <div class="card-body">
        <p class="card-text">You are already logged in no need to be here !!</p>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>