<div class="card text-white bg-danger">
    <div class="card-header">
        Login!
    </div>
    <div class="card-body">
        <p class="card-text">You must first login to view this page !!</p>
        <a href="/Login" class="btn btn-primary">Log In</a>
    </div>
</div>