@using FoodOnline.Domain.Stores.Catalogue

@inject IDeserializer yamlDeserializer

<div class="card bg-white my-2">
    <div class="card-header d-flex align-items-center">
        <div class="mr-auto">Menu</div>
        <button class="btn btn-danger mx-1" type="button" @onclick="() => OnSaveChanges.InvokeAsync(Menu)">Save Changes</button>
        <button class="btn btn-secondary mx-1" type="button" @onclick="AddCategory">Add Category</button>
    </div>
    <div class="py-0">
        @foreach (var category in Menu.Categories)
        {
            <CategoryComponent Category="category" OnRemoveCategory="RemoveCategory" />
        }
    </div>
</div>

@code {
    [Parameter]
    public string Yaml { get; set; }

    [Parameter]
    public EventCallback<Menu> OnSaveChanges { get; set; }

    public Menu Menu { get; private set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(Yaml))
        {
            Menu = yamlDeserializer.Deserialize<Menu>(Yaml);
        }
        else
        {
            Menu = new Menu();
            Menu.Categories.Add(new MenuCategory());
        }
    }

    private void AddCategory() => Menu.Categories.Add(new MenuCategory());

    private void RemoveCategory(MenuCategory category) => Menu.Categories.Remove(category);

}