@using FoodOnline.Domain.Stores.Catalogue

<div class="card my-1">
    <div class="card-header d-flex align-items-center">
        <CollapseButton CssBool="Collapse" OnClick="Collapse.Revert" />
        <div class="input-group mr-1" style="max-width: 30%">
            <div class="input-group-prepend">
                <span class="input-group-text">Many Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Name" aria-label="Category's name" @bind-value="Entry.Name" />
        </div>
        <div class="input-group mr-auto" style="max-width: 50%">
            <div class="input-group-prepend">
                <span class="input-group-text">Defaults</span>
            </div>
            <input type="text" class="form-control" placeholder="Coma delimited numbers starting from 0" @bind-value="Defaults" />
        </div>
        <button class="btn btn-secondary mx-1" type="button" @onclick="AddItem">Add Item</button>
        <button class="btn btn-secondary mx-1" type="button" @onclick="() => OnRemoveEntry.InvokeAsync(Entry)">X</button>
    </div>
    <div class="container-fluid @Collapse">
        <div class="d-flex flex-wrap">
            @foreach (var item in Entry.Items)
            {
                <MenuEntryComponent ItemEntry="item" OnRemoveItemEntry="RemoveItem" />
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public SelectMany Entry { get; set; }

    [Parameter]
    public EventCallback<SelectMany> OnRemoveEntry { get; set; }

    private CssBool Collapse = new CssBool("collapse", "");

    private string Defaults
    {
        get => Entry.Selected.IsNullOrEmpty() ? "" : string.Join(", ", Entry.Selected);
        set
        {
            var strings = value.Split(", ");
            Entry.Selected = strings
                .Select(str => new { success = int.TryParse(str, out var num), Value = num })
                .Where(num => num.success)
                .Select(num => num.Value)
                .ToList();
        }
    }

    private void AddItem() => Entry.Items.Add(new MenuItemEntry());

    private void RemoveItem(MenuItemEntry item) => Entry.Items.Remove(item);
}