@page "/user"

<h1>@role</h1>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }

    private string role { get; set; }

    protected override async Task OnInitializedAsync()
    {
        role = (await AuthState).User.GetRole();
        // todo

    }
}