@using FoodOnline.Domain.Stores.Catalogue

<div class="card my-1">
    <div class="card-header d-flex align-items-center">
        @Entry.Name
    </div>
    <div class="d-flex flex-wrap">
        @foreach (var item in Entry.Items)
        {
            var index = Entry.Items.IndexOf(item);
            var css = IsSelected(index) ? "btn-secondary" : "btn-outline-secondary";

            <button class="btn @css m-1" @key="item.Name + item.PriceEur" @onclick="() => SelectionChanged(index)">
                @item.Name (@item.PriceEur&euro;)
            </button>
        }
    </div>
</div>

@code{
    [Parameter]
    public SelectMany Entry { get; set; }

    private bool IsSelected(int index) => Entry.Selected.Contains(index);

    private void SelectionChanged(int index)
    {
        if (IsSelected(index))
        {
            Entry.Selected.Remove(index);
        }
        else
        {
            Entry.Selected.Add(index);
        }
    }
}