<button class="btn btn-primary mx-1" type="button" @onclick="OnClick">
    <img src="@ImageSrc" />
</button>

@code {

    [Parameter]
    public CssBool CssBool { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string ImageSrc => CssBool.Value
        ? "images/octoicons/arrow-right.svg"
        : "images/octoicons/arrow-down.svg";
}